.group--grid-row td:nth-child(2),
.group--grid-row td:nth-child(3) {
	text-align: center;
}

.group--grid-row:hover {
	background: lightblue;
}

.group--grid-row.pioneer,
.group--grid-row.special {
	background: wheat;
}

.group--grid-row.pioneer:hover,
.group--grid-row.special:hover {
	background: steelblue;
}

.group--grid-row input[type=text] {
	width: 100%;
	border: none;
	font-size: 1em;
	background-color: transparent;
}
